.breakpoint-0,
.style39 {
  background-color: #f6f8f9
}
.breakpoint-0 {
  margin-right: auto;
  width: 100%;
  margin-left: auto
}
.style39 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100vw;
  height: 3.4722222222222223vw;
  align-items: center
}
.style40,
.style41,
.style42,
.style43,
.style44 {
  font-family: Helvetica,serif;
  font-weight: 700;
  line-height: 1.3888888888888888vw;
  align-self: center
}
.style40 {
  color: #fa6980;
  margin-left: 1.3888888888888888vw;
  font-size: .9027777777777778vw
}
.style41,
.style42,
.style43,
.style44 {
  font-size: .7638888888888888vw
}
.style41 {
  color: #343638;
  margin-left: 71.18055555555556vw
}
.style42,
.style43,
.style44 {
  color: rgba(52,54,56,.5);
  margin-left: 1.875vw
}
.style42,
.style43 {
  margin-left: 1.5277777777777777vw
}
.style45 {
  object-fit: cover;
  margin-left: 2.7777777777777777vw;
  width: 2.0833333333333335vw;
  height: 2.0833333333333335vw;
  align-self: center;
  border-radius: 50%
}
.style20,
.style21 {
  display: flex;
  width: 100vw;
  height: 41.666666666666664vw
}
.style20 {
  background-image: url(https://designresources.assets.yotako.io/80syc56jlkbb01lq5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  margin-left: 0
}
.style21 {
  flex-direction: column
}
.style22 {
  color: #fff;
  text-align: center;
  font-family: Helvetica,serif;
  font-size: 3.4722222222222223vw;
  font-weight: 700;
  margin-left: 9.722222222222221vw;
  margin-top: 15.555555555555555vw;
  width: 80.55555555555556vw;
  height: 3.4722222222222223vw
}
.desktop2image7container5row1 {
  display: flex;
  margin-left: 38.263888888888886vw;
  margin-top: 2.0833333333333335vw;
  width: 23.47222222222222vw;
  height: 1.1805555555555556vw
}
.style24 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style24,
.style25 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style23 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw;
  margin-left: .6944444444444444vw
}
.style27 {
  display: flex;
  margin-left: 4.166666666666667vw;
  width: .9721883138020834vw;
  height: 1.1110602484809027vw;
  flex-direction: column
}
.style28,
.style29 {
  background-color: #fff;
  display: flex;
  width: .9722222222222222vw;
  height: 1.1111111111111112vw
}
.style29 {
  width: .6944444444444444vw;
  height: .8333333333333334vw;
  flex-direction: column
}
.style30,
.style31 {
  background-color: #fff;
  margin-top: .1388888888888889vw;
  width: .4166666666666667vw;
  height: .1388888888888889vw
}
.style26 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw;
  margin-left: .8333672417534722vw
}
.desktop2image7container5row2 {
  display: flex;
  margin-left: 3.4722222222222223vw;
  margin-top: 5.694444444444445vw;
  width: 93.75vw;
  height: 10.902777777777779vw
}
.style32 {
  object-fit: cover;
  border-left: .1388888888888889vw solid #fff;
  border-right: .1388888888888889vw solid #fff;
  border-top: .1388888888888889vw solid #fff;
  border-bottom: .1388888888888889vw solid #fff;
  margin-left: 0;
  margin-top: 7.430555555555555vw;
  width: 2.7777777777777777vw;
  height: 2.7777777777777777vw;
  border-radius: 50%
}
.style33 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw;
  margin-left: 1.3888888888888888vw;
  margin-top: 8.26388888888889vw
}
.style34 {
  border-left: .1388888888888889vw solid #fff;
  border-right: .1388888888888889vw solid #fff;
  border-top: .1388888888888889vw solid #fff;
  border-bottom: .1388888888888889vw solid #fff;
  display: flex;
  margin-left: 54.02777777777778vw;
  margin-top: 0;
  width: 25vw;
  height: 10.902777777777779vw;
  flex-direction: column;
  border-radius: .4166666666666667vw
}
.desktop2image7container5row2container12row0 {
  position: relative;
  display: flex;
  margin-left: 2.0833333333333335vw;
  margin-top: 2.0833333333333335vw;
  width: 20.833333333333332vw;
  height: 1.1111111111111112vw
}
.style35 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  position: relative;
  margin-left: 0;
  margin-top: .20833333333333334vw;
  width: 18.26388888888889vw;
  height: 1.1111111111111112vw;
  flex-shrink: 0
}
.style38 {
  margin-left: 2.1527777777777777vw;
  margin-top: 0;
  width: .4166666666666667vw;
  height: .6944444444444444vw;
  flex-shrink: 0
}
.style36,
.style37 {
  color: #fff;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  margin-left: 2.0833333333333335vw;
  margin-top: .7638888888888888vw
}
.style36 {
  font-weight: 700;
  line-height: 1.3888888888888888vw
}
.style37 {
  line-height: 1.8055555555555556vw;
  width: 20.833333333333332vw;
  height: 2.986111111111111vw
}
.desktop2row3,
.style75 {
  margin-left: 9.722222222222223vw
}
.style75 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 2.2222222222222223vw;
  font-weight: 700;
  line-height: 2.9166666666666665vw;
  height: 5.138888888888889vw;
  margin-top: 10vh;
  width: 22.916666666666668vw
}
.desktop2row3 {
  position: relative;
  display: flex;
  margin-top: 75vh;
  width: 81.25006781684027vw;
  flex-wrap: wrap
}
.style76 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9722222222222222vw;
  line-height: 1.8055555555555556vw;
  position: relative;
  margin-left: 0;
  margin-top: 7.916666666666667vw;
  width: 22.916666666666668vw;
  min-width: 220px;
  height: 33.541666666666664vw;
  text-overflow: clip;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden
}
.desktop2row3col1,
.style2 {
  position: relative;
  margin-top: 0;
  width: 51.388888888888886vw
}
.desktop2row3col1 {
  display: flex;
  margin-left: 6.944444444444445vw;
  min-width: 493.3333333333333px;
  height: 50.486111111111114vw;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0
}
.style2 {
  display: grid;
  grid-gap: 2.7777777777777777vw
}
.style3 {
  display: flex
}
.desktop2row3col1grid0container0col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 50.69444444444444vw;
  height: 12.01388888888889vw;
  flex-direction: column
}
.desktop2row3col1grid0container0col0row0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 51.388888888888886vw;
  height: 2.7777777777777777vw;
  align-items: center
}
.style4 {
  object-fit: cover;
  margin-left: 0;
  width: 2.7777777777777777vw;
  height: 2.7777777777777777vw;
  border-radius: 50%
}
.style5,
.style6 {
  color: #202124;
  font-family: Helvetica,serif
}
.style5 {
  font-weight: 700;
  margin-left: 1.3888888888888888vw;
  align-self: center;
  font-size: 1.6666666666666667vw;
  width: 47.22222222222222vw;
  height: 1.3888888888888888vw
}
.style6 {
  font-size: 1.1111111111111112vw;
  line-height: 2.0833333333333335vw;
  margin-left: 0;
  margin-top: 1.3888888888888888vw;
  width: 50.69444444444444vw;
  height: 5.347222222222222vw
}
.desktop2row3col1grid0container0col0row2 {
  display: flex;
  margin-left: 0;
  margin-top: 1.3888888888888888vw;
  width: 5.763888888888889vw;
  height: 1.1111111111111112vw
}
.style8 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style8,
.style9 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style7 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style10 {
  display: flex
}
.desktop2row3col1grid0container2col0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 50.69444444444444vw;
  height: 12.01388888888889vw;
  flex-direction: column
}
.desktop2row3col1grid0container2col0row0 {
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 51.388888888888886vw;
  height: 2.7777777777777777vw;
  align-items: center
}
.style11 {
  object-fit: cover;
  margin-left: 0;
  width: 2.7777777777777777vw;
  height: 2.7777777777777777vw;
  border-radius: 50%
}
.style12,
.style13 {
  color: #202124;
  font-family: Helvetica,serif
}
.style12 {
  font-weight: 700;
  margin-left: 1.3888888888888888vw;
  align-self: center;
  font-size: 1.6666666666666667vw;
  width: 47.22222222222222vw;
  height: 1.3888888888888888vw
}
.style13 {
  font-size: 1.1111111111111112vw;
  line-height: 2.0833333333333335vw;
  margin-left: 0;
  margin-top: 1.3888888888888888vw;
  width: 50.69444444444444vw;
  height: 5.347222222222222vw;
  text-overflow: clip;
  overflow: hidden
}
.desktop2row3col1grid0container2col0row2 {
  display: flex;
  margin-left: 0;
  margin-top: 1.3888888888888888vw;
  width: 5.763888888888889vw;
  height: 1.1111111111111112vw
}
.style15 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style15,
.style16 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style14 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw
}
.style17,
.style18 {
  display: flex;
  align-items: center
}
.style17 {
  background-image: url(https://designresources.assets.yotako.io/80syc56jlkbazznqp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  object-fit: cover;
  margin-top: 2.7777777777777777vw;
  flex-shrink: 0;
  border-radius: .4166666666666667vw;
  width: 50.69444444444444vw;
  height: 20.833333333333332vw
}
.style18 {
  border-left: .1388888888888889vw solid #fff;
  border-right: .1388888888888889vw solid #fff;
  border-top: .1388888888888889vw solid #fff;
  border-bottom: .1388888888888889vw solid #fff;
  margin-left: 23.958333333333332vw;
  width: 3.4722222222222223vw;
  height: 3.4722222222222223vw;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%
}
.style19 {
  width: .5555555555555556vw;
  height: .6944444444444444vw
}
.style81 {
  border-left: .1388888888888889vw solid #ebeded;
  border-right: .1388888888888889vw solid #ebeded;
  border-top: .1388888888888889vw solid #ebeded;
  border-bottom: .1388888888888889vw solid #ebeded;
  margin-top: 15.4vh;
  width: 22.22222222222222vw;
  height: 0
}
.desktop2row6,
.style77,
.style81 {
  margin-left: 9.722222222222223vw
}
.style77 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  height: 1.1111111111111112vw;
  margin-top: 4vh;
  width: 22.916666666666668vw
}
.desktop2row6 {
  display: flex;
  margin-top: 1vh;
  width: 10.48611111111111vw
}
.style79 {
  display: flex;
  margin-left: 0;
  flex-direction: column;
  flex-grow: 1
}
.style79,
.style80 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style78 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 1.8055555555555556vw;
  margin-left: .6944444444444444vw;
  flex-grow: 1
}
.style46 {
  background-color: #a6adb4;
  display: flex;
  margin-left: 0;
  margin-top: 10.8vh;
  width: 100vw;
  height: 13.88888888888889vw
}
.style59 {
  color: #fff;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw;
  margin-left: 9.722222222222221vw;
  margin-top: 4.027777777777778vw
}
.desktop2container14col1 {
  display: flex;
  margin-left: 4.375vw;
  margin-top: 3.888888888888889vw;
  width: 4.305555555555555vw;
  height: 5.833333333333333vw;
  flex-direction: column;
  justify-content: space-between
}
.style47,
.style50,
.style53,
.style56 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw
}
.desktop2container14col2 {
  display: flex;
  margin-left: 2.638888888888889vw;
  margin-top: 3.888888888888889vw;
  width: 4.097222222222222vw;
  height: 5.833333333333333vw;
  flex-direction: column;
  justify-content: space-between
}
.style48,
.style51,
.style54,
.style57 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw
}
.desktop2container14col3 {
  display: flex;
  margin-left: 2.8472222222222223vw;
  margin-top: 3.888888888888889vw;
  width: 5.486111111111111vw;
  height: 5.833333333333333vw;
  flex-direction: column;
  justify-content: space-between
}
.style49,
.style52,
.style55,
.style58 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  line-height: 1.3888888888888888vw
}
.desktop2container14col4,
.style60 {
  display: flex;
  width: 18.055555555555557vw
}
.desktop2container14col4 {
  margin-left: 15.347222222222221vw;
  margin-top: 4.027777777777778vw;
  flex-direction: column;
  height: 4.583333333333333vw
}
.style60 {
  border-left: .1388888888888889vw solid #fff;
  border-right: .1388888888888889vw solid #fff;
  border-top: .1388888888888889vw solid #fff;
  border-bottom: .1388888888888889vw solid #fff;
  margin-top: 0;
  height: 2.7777777777777777vw;
  align-items: center;
  border-radius: .4166666666666667vw
}
.style63 {
  color: rgba(203,208,211,.5);
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.3888888888888888vw;
  width: 2.4305555555555554vw;
  height: .6944444444444444vw;
  align-self: center
}
.style61 {
  display: flex;
  margin-left: 11.73611111111111vw;
  align-self: center;
  flex-direction: column
}
.style61,
.style62 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style64 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .7638888888888888vw;
  margin-top: 1.1111111111111112vw;
  width: 18.055555555555557vw;
  height: .6944444444444444vw
}
.style71 {
  display: flex;
  margin-left: 9.722222222222221vw;
  margin-top: 3.888888888888889vw;
  flex-direction: column
}
.style71,
.style72 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style68 {
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889vw;
  flex-direction: column
}
.style68,
.style69 {
  display: flex;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style65,
.style70 {
  width: 1.1111111111111112vw;
  height: .9012179904513888vw
}
.style65 {
  display: flex;
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889vw;
  height: 1.1111789279513888vw;
  flex-direction: column
}
.style66,
.style67 {
  position: relative;
  height: 1.1111111111111112vw
}
.style66 {
  display: flex;
  justify-content: center;
  width: 1.1111111111111112vw
}
.style67 {
  width: .5802408854166666vw;
  flex-shrink: 0
}
.style73 {
  display: flex;
  margin-left: 2.2222222222222223vw;
  margin-top: 3.888888888888889vw;
  flex-direction: column
}
.style73,
.style74 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.breakpoint-0 {
  display: block
}